body {
	background-color: #111111;
	text-align:center;
	color: #f4f4f4;
}

h2 {
	color: #33DD33;
}

#board {
	display:inline-block;
	width: 600px;
	background-color: #333333;
	text-align:center;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	border-style:solid;
	border-width: 1px;
	border-color: #f4f4f4;
	border-radius: 3px;
}

#board > table{
	display:inline-block;
	font-size: 1000%;
}

#board table tr td {
	border-style:solid;
	border-width: 5px;
	border-bottom-color: #d4d4d4;
	border-right-color: #d4d4d4;
	width: 185px;
}

#board table tr td a{
	display:block;
	color: #F4F4F4;
	text-decoration: none;
}

